@import 'root.css';


@media screen and (max-width: 1300px)  {

.AboutMe {
    background-position: -100px;
    & .upAM{
        
        & .canvaAM{
            position: relative;
            left: 10vw;
    } 
    }
}
}
@media screen and (max-width: 500px) {
    .navBar{
        padding: 0.2rem;
        /* position: fixed; */
        /* z-index: 3; */
    }
    .circle{
        right: 2rem;
        margin-left: auto;
        position: fixed;
        z-index: 999;
    }
    .AboutMe {
        background-position: -100px;
        & .upAM{
            padding: 20svh 3rem;
            & .textAM{
                & h1{
                    font-size: 5rem;
                }
                & h2{
                    font-size: 2rem;
                }
            }
            & .canvaAM{
                position: relative;
                left: 10vw;
        } 
        }
    }
} 