@import url("./root.css");

@media screen and (max-width: 1250px) {
    html{
        overflow-y: scroll;
        height: fit-content;
        justify-content: center;
    }
    .wrapp{
        flex-direction: column;
        width: calc(100vw - 4rem);
        min-width: fit-content;
        top: 1rem;
    }
    #l{
        width: 100%;
        grid-template-rows: fit-content fit-content fit-content fit-content;
    }
    #r{
        width: 100%;
        margin-top: 0.5rem;
    }
    .me1{
        grid-row: 1;
        justify-content: center;
        & h1{
            padding: 0;
            margin: 0;
            font-size: clamp(8cqh,12vw,20cqh);
        line-height:clamp(9cqh,13vw,20cqh) ;
        }
        & h2{
            font-size: clamp(3cqh,6vw,20cqh);
            line-height:clamp(4cqh,7vw,20cqh) ;
        }
    }
    .me2{
        grid-row: 2;
    }
    .me3{
grid-row: 3;
    }
    .me4{
grid-row: 4;
    }
}