@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Jost&family=Source+Code+Pro&display=swap');


:root{
    --ftext:'Comfortaa', sans-serif;

    --fhi:'Bebas Neue', sans-serif;
    --fhii:'Josefin Sans', sans-serif;

    --fcode:'Source Code Pro', monospace;




    --menuFont:'Roboto', sans-serif;
    
    --h1Font:'Ubuntu', sans-serif;


    --h5font:'Jost', sans-serif;



    --p1:rgba(0,0,0,0.3);
    --p2:rgba(0,0,0,0.2);
    --p3:rgba(0,0,0,0.1);

    --o1:#9e9e9e;
    --o2:#595959;

    --t1:#000000;
    --t2:#222222;
    --t3:#3e3e3e;

    --white100:#f6f0e2;
    --white200:#bbb7ad;
    --black100:#1a1a1a;
    --black200:#2a2a2a;
    
    --acentRed:#ad2e2b;
    --acentBlue:#255ab2;

    --bri:2rem;
}
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    background-color:var(--white100);
    padding: 0;
    margin: 0;
    /* width: 100%; */
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}
#background-wrap{
    width: 100%;
    height: 100svh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    filter: blur(200px);
}
#s1{
    pointer-events: none;
    /* float: left; */
    width: 70svh;
    position:absolute;
    top: -8svh;
    right: 20%;
}
#s3{
    pointer-events: none;
    top: 40svh;
    left: 2%;
    width: 60svh;
    position:absolute;
}
#s2{
    pointer-events: none;
    width: 100svh;
    top: 30svh;
    right: -10%;
    position:absolute;
}
/* -------------------------------------- */

#menu-wrap{
    position: absolute;
    z-index: 1;

    min-width: 80vw;
    height: fit-content;
    background-color: var(--p3);
    top: 5svh;
    left: calc(50% - 40vw);
    border: 1px solid var(--p2);
    border-radius:calc(var(--bri) + 0.5rem);
    /* display: flex;
    flex-direction: column; 
    flex-wrap: wrap; */
    
    /* display: grid;
    grid-template-columns: 40rem 40rem;
    grid-template-rows: min-content min-content min-content; */
    box-sizing: border-box;
    padding: 0.25rem;
    /* padding:0.5rem; */
}
/* -------------------------------- */
#l{
    width: 40vw;
    margin: 0.25rem;
float: left;
    /* height:100%; */
    /* width: 50%; */
    /* background-color: rgb(131, 124, 124); */
}
#me{
    width: 100%;
    background-color: var(--p3);
    height: 32svh;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:var(--bri);
    & h1{
        /* width: 7ch; */
        line-height: 10rem;
        margin: 0;
        font-family:var(--fhi);
        font-size: 8rem;
        color: var(--black100);
        & span{
            color: var(--acentRed);
        }
        & u{
        text-decoration-color:var(--acentBlue);
        text-decoration-thickness: 0.4rem;
        text-underline-offset: 0.5rem;
    }
    }
    & h2{
        /* width: 7ch; */
        line-height: 3rem;
        margin: 0;
        font-family:var(--fhii);
        font-size: 3rem;
        letter-spacing: 0.15rem;
        color: var(--black100);
    }
}
#me2{
    margin-top:0.5rem ;
    width: 100%;
    background-color: var(--p3);
    height: 4rem;
    font-size: 2rem;
    font-family: var(--fcode);
    line-height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1rem;
    border-radius:var(--bri);
    & span{
        color: var(--acentRed);
    }
}
#me3{
    margin-top:0.5rem ;
    width: 100%;
    background-color: var(--p3);
    height: 20rem;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    font-family: var(--ftext);
    line-height: 120%;
    font-weight: 500;
    box-sizing: border-box;
    padding: 1rem;
    border-radius:var(--bri);
    & p{
        /* width: 17ch; */
        margin: 0;
    }
}
#control{
    background-color: var(--p3);
    width: 100%;
    margin-top:0.5rem ;
    height:12rem;
    border-radius: var(--bri);
}

/* ------------------------------------- */
#r{
    width: 40vw;
    float: right;
}
#p1{
    margin: 0.25rem;
    height:32svh;
    /* width: 50%; */
    
    /* background-color: red; */
    & #clock{
        height: 100%;
        background-color: var(--p3);
        aspect-ratio: 1;
        border-radius: var(--bri);
        margin-right:0.5rem ;
        float: left;
    }
    & #fonts{
        float: right;
        height: 100%;
        width: calc(40vw - 32svh - 1rem);
        border-radius: var(--bri);
        background-color: var(--p3);
    }
}
#ps{
    /* margin-top: 0.5rem; */
    margin:0.25rem;
    height: 4rem;
    /* width: 50%; */
    border-radius: var(--bri);
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .social{
        text-align: center;
        height: 100%;
        width: calc(25% - 0.25rem);
        background-color: var(--p3);
        border-radius: var(--bri);
    }
}
#menu{

    margin: 0.25rem;
    height:32.5rem;
    width:calc(40rem - 8px);
    border-radius: var(--bri);
    background-color: var(--p3);
}