@import url("./root.css");
body{
    margin: 0;
}
html{
    display: flex;
    height: 100svh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
#background-wrap{
    width: 100%;
    height: 100svh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    filter: blur(200px);
}

#s1{
    transition:all 0.5s ease;
    pointer-events: none;
    /* float: left; */
    width: 70svh;
    position:absolute;
    top: -8svh;
    right: 20%;
}
#s3{
    transition:all 0.5s ease;
    pointer-events: none;
    top: 40svh;
    left: 2%;
    width: 60svh;
    position:absolute;
}
#s2{
    transition:all 0.5s ease;
    pointer-events: none;
    width: 100svh;
    top: 30svh;
    right: -10%;
    position:absolute;
}
/* --------------------------------------- */
.bcc{
    border-radius: var(--bri);
    background-color: var(--p3);
}
.wrapp{
    min-width: 1200px;
    z-index: 3;
    position: relative;
    box-sizing: border-box;
    padding: var(--gappading);
    width: fit-content;
    height: fit-content;
    display: flex;
    column-gap: var(--gappading);
    background-color: var(--p3);
    border: 1px solid var(--p2);
    border-radius: calc(var(--bri) + var(--gappading));
}
#l{
width: clamp(calc((1200px / 2) - 0.75rem),40vw,40vw);
height: 90svh;
transition: filter 0.8s ease;
display: grid; 
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr;
   
   gap: var(--gappading);
}
#r{
    width: clamp(calc((1200px / 2) - 0.75rem),40vw,40vw);
    height: 90svh;


    display: grid; 

   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr;
   
   gap: var(--gappading);
    
}
/* --------------------------------------------------------------------- */
.me1{
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5rem;
    & h1{

        margin: 0;
        font-size: clamp(6cqh,6vw,20cqh);
        line-height:clamp(7cqh,8vw,20cqh) ;
        font-family: var(--fhii);
        & u{
            text-decoration-color: var(--acentBlue);
        }
        & span{
        /* transform: scale(4,1); */

            color: var(--acentRed);
        }
    }
    & h2{
        margin: 0;
        font-size: clamp(4cqh,3vw,16cqh);
        font-family: var(--fhii);
    }
}
.me2{
    /* display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center; */
    font-family: var(--fcode);
   /* font-size: 6cqh; */
   font-size:clamp(3rem,3cqw,200px);
   letter-spacing: max(0.4cqw, 10px);
   display: flex;
   /* text-wrap: nowrap; */
   align-items: center;
    justify-content: center;
}
.me3{
    grid-row: 5/7;
    
}
.me4{
    grid-row: 7/9;
}
/* ---------------------------------------------------------------- */
.cf{
    transition: filter 0.8s ease;
    grid-row: 1/4;
    display: flex;
}
#rwp{

    background-color: var(--p3);
    /* height:30cqh; */
    width: clamp(calc((1200px / 2) - 0.75rem),40vw,40vw);
    height:44.5svh ;
    transform: translateX(50vw);
    /* height: 10px; */
    position: fixed;
    transition: transform 0.8s cubic-bezier(0.41, 0.05, 0, 0.8);
    /* position: fixed; */
    border-radius: var(--bri);
}
.social{
    transition: filter 0.8s ease;
}
.menu{
    grid-row: 5/9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 340px;
    & .option{
        transition: all 0.3s;
        font-family: var(--menuFont);
        font-weight: 300;
        font-size: clamp(5rem,6vw,20rem);
        box-sizing: border-box;
        padding: 0 1vw;
        width: 80%;
        /* line-height: 7vw; */
        /* height: 7vw; */
        &:hover{
            padding: 0 2rem;
        }
    }
    & #option-home, #option-work{
        border-bottom: 1px black solid;
    }
}
/* -------------------------------------- */
#l2{
    transition: transform 0.8s cubic-bezier(0.7, -0.07, 0.29, 0.9);
    border-radius: var(--bri);
    width: clamp(calc((1200px / 2) - 0.75rem),40vw,40vw);
    height: 90svh;
    position:fixed;
    background-color: var(--p3);
    transform: translateY(-100svh);
}

