@import 'root.css';


.navBar{
    z-index: 999;
    position: sticky;
    top: 0;
    right:0;
    margin-left: auto;
    /* background-color: red; */
    /* width: 2rem; */
    width: fit-content;
    padding: 0.6rem;
    box-sizing: border-box;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & a{
        text-decoration: none;
    }
    
    & .navBlock{
        letter-spacing: 1rem;
        writing-mode: vertical-rl; text-orientation:sideways;
        margin:1rem 0;
        font-family:var(--menuFont) ;
        font-size: 1.6rem;
        color: var(--white100);
        font-weight: 300;

        transition: all 300ms ease;
        
        & span{
            position:relative;
            
            transform: rotate(0turn);
            transform:  translateY(0rem);
            transition:all 0.2s ease;
            float: left;
            /* border: 0.5px solid black; */
        }
        &:hover{

            & > span{

                
                /* text-orientation:upright; */
                transform: translateY(0.45rem);
                transform: rotate(-0.25turn);
            } 
        } 
    }
    float: right;
}

.circle{
    z-index: 3;
    position: sticky;
    float: right;
    background-color: initial;
    width: 0.4rem;
    height: 100svh;
    top: 0;
    /* margin-right: auto; */
    & #Lcircle{
        transition: all 0.3s ease;
        position:relative;
        top:0px;
        width: 0.4rem;
        aspect-ratio: 1;
        border-radius: 0.5rem;
        background-color: var(--white100);
    }
}
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
.AboutMe{
    /* background-color: red; */
    /* background-color: initial; */
    transition: all 1s ease;
    width: 100%;/*-4rem*/
    min-height: 100svh;
    box-sizing: border-box;
    background-image: url("./circless.svg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 120%; */
    /* background-position-x: left; */
    /* background-attachment: fixed; */
    /* background-position:-50px; */
    & .upAM{
        height: 100svh;
        width: 100%;
        padding:16svh 14vw;
        box-sizing: border-box;
        & .textAM{
            transition: all 0.3s ease;
            float:left;
            z-index: 2;
            position: relative;
            top: 0;
            left: 0;
            color: var(--white100);
            & h1{
                font-family: var(--h1Font);
                font-size: 8rem;
                margin: 0;
                & span{
                    color: var(--acentRed);
                }
                & u{
                    text-decoration-color: #255ab2;
                }
            }
            & h2{
                color: var(--white100);
                margin-left: 1rem;
                font-weight: 400;
                font-size: 3rem;
                animation-name: fontsC;
                animation-duration: 8s;
                animation-iteration-count: infinite;
            }
        }
        & .canvaAM{
            transition: all 1s ease;
            position: relative;
            z-index: 1;
            bottom:-10svh;
            left:22vw;
            /* background-color: green; */
            width: 900px;
            aspect-ratio: 1;
            & #planetCanva{
                position: absolute;
                top: 0;
                left: 0;
                z-index:1;
                width: 100%;
                /* background-color: black; */
                aspect-ratio: 1;
                
            }
        }
    }
}
@keyframes fontsC {
    0%   {font-family: 'Comfortaa', sans-serif ;}
    25%  {font-family: 'Lobster', sans-serif;}
    50%  {font-family: 'Space Grotesk', sans-serif;;}
    75%  {font-family: 'Nanum Myeongjo', serif;}
    100% {font-family: 'Marcellus', serif;}
  }
.MyWork{
    background-color: green;
    width: calc(100%);/*-4rem*/
    min-height: 200svh;
    & h1{
        margin: 0;
    }
}
.Contact{
    background-color: green;
    width: calc(100%);/*-4rem*/
    min-height: 100svh;
    & h1{
        margin: 0;
    }
}